*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
}

/* shared styling */

.heading, 
.hero-container,
.staff-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

/* header section styling classes */

.heading{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    width: 50px;
    height: 50px;
}

.logo{
    width: 40px;
}

.links{
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 20px;
}


.links li a {
    text-decoration: none;
    color: #e5e7eb;
}

.links li a:hover{
    color: #82aaeb;
}


/* hero section styling classes */

.hero-container {
    background-color: #1f2937;
    display: flex;
    gap: 30px;
    justify-content: center;

}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    flex: 1;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.para{
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
}

button:hover{
    background-color: #82aaeb;
    cursor: pointer;
}

.img-container{
    flex: 1;
}

.img-container img {
    width: 100%;
}

/* staff section */

.staff-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.subtitle{
    color: #1f2937;
    font-size: 2.3rem;
    padding-top: 2%;
}

.staff-imgs-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.staff-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
    max-width: 250px;
}

.staff-img img {
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 20px #aca8a8;
}

figure figcaption {
    color: #aca8a8;
    width: 70%;
    text-align: center;
}